# Dependencias
node_modules/
*/node_modules/

uploads/models/*
!uploads/models/.gitkeep

# Variables de entorno — NUNCA subir al repo
.env
*/.env
.env.*.local

# Builds
dist/
*/dist/
build/
*/build/

# Logs
*.log
logs/
*/logs/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
